*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
   
}
body{
    background-color: #fff;
}
.title {
    font-size: 60px;
    color: rgb(255,99,11,1);
    margin-bottom: 0px;
}
.container{
    justify-content: center;
}
.title span{
    color:#000
}
.column {
    text-align: center;
}
.form {
    padding: 10px;
    text-align: center;
}
.form input {
    width: 50%;
    height: 52px;
    margin-bottom: 20px;
    font-weight:lighter;
    border: none;
    background-color: rgb(255,99,11,1);
    border-radius: 60px;
    padding: 30px;
}
.campo{
    font-size: 18px;
}
.campo::placeholder{
    color: #fff;
    padding: 30px;
}
.button{
    color: #000;
    border-radius: 15px;
    font-size: 10px;
    padding: 10px 0px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #000;
    transition: background-color .5s;
}

.button:hover {
    background-color: rgb(255,99,11,1);
    color: #fff;
    border: 1px solid #fff;
}
.form2{
    text-align: center;
}
.campo2{
    border-radius: 10px;
    border: 1px solid #000;
    width: 350px;
    height: 45px;
    font-size: 15px;
    margin-bottom: 20px;
}
#ano, #placa{
    width: 150px;

}
